.container-about-me {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    max-width: 100vw;
    gap: 2rem;
    margin: 3rem;
    height: 100%;
}

#outer {

    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    
    min-width: 350px;
    width: 60vw;
}

#about-me {
    display: flex;
    justify-self: center;
    max-width: 800px;
    color: rgb(62, 62, 62);

    background: rgba(255, 255, 255, 0.152);
    backdrop-filter: blur(1.5px);
    /* glassy floaty effect */
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* stays above other content */
    border: 1px solid rgb(255, 255, 255);
}

#skills-inner-div{
    display: block;
    max-width: 800px;    
}
.skill {
    padding-inline: 1rem;
    background-color: antiquewhite;
    color: orange;
    border-radius: 3rem ;
    border: 1px solid orange;
    margin: 4px;
}