h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}

.subscribe-section {
    width: 100%;
    display: grid;
    gap: 2rem;
    padding: 2rem;
    
}

.header {
    display: grid;
    gap: 1rem;
    text-align: center;
}




.subscribe-form {

    display: block;
    gap: 0.625rem;
    /* gap-2.5 */
    text-align: center;
    margin: 3rem;
    padding: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 80rem;
    width: 80vw;
 

}

.subscribe-form h3 {
    color: #ffffff;
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 600;
    line-height: 1.25rem;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.375rem;
    /* py-1.5 px-1.5 */
    border: 1px solid #ffffff;
    /* gray-300 */
    border-radius: 9999px;
    /* rounded-full */
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    backdrop-filter: blur(16px);
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #696969;
    background-color: transparent;
   
    margin-left: 1em;
    
}
.input-group input::placeholder {
    color: #8a8a8a;
    opacity: 1;
}
.input-group button {
    padding: 0.75rem 1.25rem;
    background-color: #292929;
    /* indigo-600 */
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.input-group button:hover {
    background-color: #e0672e;
    /* indigo-700 */
}